.text {
    font-size: 35px;
    text-align: center;
}
.desktop_images {
    width:100%;
}
.mobile_images {
    width: 100%;
    margin-bottom: 40px;
}
/* пока большой */
@media (min-width: 701px) {
    .mobile_images {
        display: none;
    }
}
/* стал меньше */
@media (max-width: 700px) {
    .desktop_images {
        display: none;
    }
}