@font-face {
    font-family: "Sverdlovsk";
    src: local("Sverdlovsk"),
    url('/src/font/Sverdlovsk.ttf') format("truetype");
}
body {
    color:white;
    background-color:black;
    margin:0;

}
body, html {
    font-family: "Sverdlovsk";
    letter-spacing: 3px;
    font-weight: 900;
    color: #fff;
}